    <div>
      <header>{{title}}</header>
      <p>{{date_created}}</p>
    </div>
    <div>
        <label for="comment">Add a comment:</label>
        <input type="text" id="newComment">
    </div>
    <div>
        <button type="submit" id="add-comment-btn">Submit Comment</button>
    </div>

    <script src="/js/comment.js"></script>
    
