   <div>
      <header>{{title}}</header>
      <p>Posted by {{user.username}} on {{date_created}}
      </div>
      <p>{{content}}</p>

    <div>
        <label for="comment">Add a comment:</label>
        <input type="text" id="newComment">
    </div>
    <div>
        <button type="submit" id="add-comment-btn">Submit Comment</button>
    </div>

    <script src="/js/comment.js"></script>
    
