{{#each (reverse posts) as |post|}}
<section class="card">
  <a href="/update/post/{{id}}">
    <div>
      <header>{{title}}</header>
      <p>{{date_created}}</p>
      </div>
  </a>
</section>
{{/each}}

<a href="/new-post"><button>New Post</button></a>

