{{#each posts as |post|}}
<section class="card">
  <a href="/post/{{id}}">
    <div>
      <header>{{title}}</header>
      <p>Posted by {{user.username}} on {{date_created}}
      </div>
  </a>
</section>
{{/each}}
<button>New Post</button>