<div>

    <h2>Login</h2>

    <form>
        <div>
            <label for="username-signin"Username:></label>
            <input type="text">
        </div>
        <div>
            <label for="password-signin"Password:></label>
            <input type="text">
        </div>
        <div>
            <button type="button" class="btn btn-outline-info">Login</button>
        </div>
    </form>
    <div>
            <button type="button" class="btn btn-outline-info">Sign Up Instead</button>
        </div>

</div>