<div>

    <h2>Sign Up</h2>

    <form class="sigup-form">
        <div>
            <label for="signup-username">Username:</label>
            <input type="text" id="signup-username">
        </div>
        <div>
            <label for="signup-password">Password:</label>
            <input type="password" id="signup-password">
        </div>
        <div>
            <button type="button" class="btn btn-outline-info">Sign Up</button>
        </div>
    </form>

</div>