<div>

    <h2>Update Post</h2>

    <form class="post-form">
        <div>
            <label for="update-post-title">Tile:</label>
            <input type="text" id="update-post-title" value="{{title}}">
        </div>
        <div>
            <label for="update-post-content">Content:</label>
            <input type="text" id="update-post-content" value="{{content}}">
        </div>
        <div>
            <button id="update-post-btn" type="submit" class="btn btn-outline-info">Update</button>
        </div>
        <div>
            <button id="delete-post-btn" type="submit" class="btn btn-outline-info">Delete</button>
        </div>
    </form>

</div>

<script src="/js/post.js"></script>